
<h2>Groups or Clients</h2>
<div class="">
    <button id="homebtn" class="btn btn-primary btn-lg">Home</button>
    <button id="clientsBtn" class="btn btn-primary btn-lg">Clients</button>
    <button id="groupsBtn" class="btn btn-primary btn-lg">Groups</button>
</div>


<div class="body-content">
    <div class="row">
        <div id="display"></div>
    </div>

    <div class="row">
        <div id="announcementForm"></div>
    </div>
</div>






